<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge Tech</title>
    {% load static %} <!-- Carrega a tag estática -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

    <div class="main">
        <img src="{% static 'img/Logo.png' %}" alt="Logo">
        <div class="form">
            <form action="" method="get">
                <input type="email" name="Digite seu email" id="" placeholder="Digite seu Email">
                <input type="password" name="Digite sua senha" id="" placeholder="Digite sua senha">
            </form>
            <button>Acessar</button>
        </div>
    </div>
    
</body>

</html>