body {
    background-color: #3a3a3a;
    color: #fff;
    overflow: hidden;
}

.nav-top {
    background-color: #373636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.nav-top input {
    border-radius: 30px;
    background-color: #808080;
    border: none;
    color: #fff;
}

.nav-top input::placeholder {
    color: #c0c0c0;
}

.sidebar {
    background-color: #2a2a2a;
    min-height: 100vh;
    padding: 1rem 0;
}

.collapse {
    transition: height 0.5s ease, opacity 0.5s ease;
}

.collapsing {
    height: auto;
    opacity: 0.8;
}

.sidebar a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    color: #fff;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

/* Estilo do ícone */
.dropdown a i {
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
}

.dropdown:hover > a i {
    transform: rotate(-90deg); /* Rotaciona o ícone */
}

.logout-form {
    background-color: #dc3545;
    border: none;
    border-radius: 30px;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: 160ms;
    margin: 4vw;
}

.logout-form button {
    background: none;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 160ms;
}

.logout-form:hover {
    background-color: #c82333;
    transform: scale(1.06);
}

.sidebar a:hover {
    background-color: #373636;
}

.sidebar a.active {
    background-color: #00727a; /* Cor para indicar o item ativo */
    color: #fff; /* Cor do texto para contraste */
    font-weight: bold; /* Deixe o texto mais chamativo */
}

.content {
    background-color: #031d35;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    min-width: 80%;
}

thead {
    background-color: #343a40; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #007bff; /* Linha abaixo do cabeçalho */
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa; /* Cor para linhas ímpares */
}

tbody tr:nth-child(even) {
    background-color: #e9ecef; /* Cor para linhas pares */
}

tbody tr:hover {
    background-color: #007bff; /* Cor ao passar o mouse */
    color: white; /* Texto branco */
    cursor: pointer;
}


.container {
    background-color: #808080;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #00727a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 50%;
}

.item {
    display: grid; /* Usa grid para alinhar as colunas */
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas iguais */
    align-items: center; /* Alinha os itens no centro verticalmente */
    margin: 10px 0; /* Espaçamento entre os itens */
}

.item .item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .item-image img {
    max-width: 40%;
    height: auto;
}

.item .item-image h2 {
    font-size: 1rem;
    margin: 2%;
    color: #fff;
}

.item-quant {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 2%;
}

/* Estilo dos botões */
.item-quant button {
    background-color: #7fd350; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


.item-quant button:hover {
    background-color: #5fa236; 
}

/* Estilo para o contador */
.item-quant .counter {
    width: 40px; 
    text-align: center; 
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #ffffff; 
    background-color: #313131;
    border: 1px solid #7fd350; 
    border-radius: 5px; 
    padding: 5px 0; 
}

.item-valor {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 2%;
}


/* Dropdown container */
.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    display: none; /* Oculta o menu inicialmente */
    position: absolute;
    align-items: center;
    background-color: #444;
    padding: 10px 10px;
    margin-left: 100%;
    margin-top: -30%;
    list-style: none;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Links dentro do dropdown */
.dropdown .dropdown-menu a {
    padding: 10px 20px;
    color: white;
}

.dropdown .dropdown-menu a:hover {
    background-color: #575757;
}

/* Mostra o dropdown ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}