{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdgeTec Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{% static 'img/Imagens.ico' %}" type="image/x-icon">
    <link href="{% static 'css/vendas/registrar.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Top Navigation -->
    <nav class="nav-top">
        <div class="logo">Logo da Empresa</div>
        <input type="search" class="form-control w-50 w-md-50" placeholder="Digite sua pesquisa...">
        <div>Perfil da Empresa</div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <button class="btn btn-secondary d-md-none mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                ☰
            </button>
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 collapse d-md-block sidebar">

                {% comment %} Dropdown Dashboard {% endcomment %}
                <div class="dropdown">
                    <a href="{% url 'home' %}" class="dashboard">Dashboard <i class='bx bxs-down-arrow'></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Eletrônicos</a></li>
                        <li><a href="#">Roupas</a></li>
                        <li><a href="#">Móveis</a></li>
                    </ul>
                </div>

                {% comment %} Dropdown Produtos {% endcomment %}
                <div class="dropdown">
                    <a href="{% url 'produtos' %}" class="produtos">Produtos <i class='bx bxs-down-arrow'></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'listar_produtos' %}">Estoque <i class='bx bxs-inbox' ></i></a></li>
                        <li><a href="{% url 'adicionar_produtos' %}">Adicionar Produtos <i class='bx bxs-add-to-queue'></i></a></li>
                    </ul>
                </div>
                
                {% comment %} Dropdown Vendas {% endcomment %}
                <div class="dropdown">
                    <a href="{% url 'vendas' %}" class="vendas active">Vendas <i class='bx bxs-down-arrow'></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'registrar_venda' %}">Registrar Venda <i class='bx bxs-wallet' ></i></a></li>
                    </ul>
                </div>

                {% comment %} Dropdown Relatorios {% endcomment %}
                <div class="dropdown">
                    <a href="{% url 'relatorios' %}" class="relatorios">Relatórios <i class='bx bxs-down-arrow'></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Eletrônicos</a></li>
                        <li><a href="#">Roupas</a></li>
                        <li><a href="#">Móveis</a></li>
                    </ul>
                </div>

                {% comment %} Dropdown Funcionarios {% endcomment %}
                <div class="dropdown">
                    <a href="{% url 'funcionarios' %}" class="funcionarios">Funcionários <i class='bx bxs-down-arrow'></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cadastrar <i class='bx bx-plus-circle'></i></a></li>
                        <li><a href="#">Editar <i class='bx bxs-pencil' ></i></a></li>
                        <li><a href="#">Excluir <i class='bx bx-x'></i></a></li>
                    </ul>
                </div>

                {% comment %} Configuracoes {% endcomment %}
                <a href="{% url 'configuracoes' %}" class="configuracoes">Configurações</a>

                <form method="POST" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </nav>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10 d-flex justify-content-center align-items-center flex-column">
            <div class="content">
                
                    <div class="table-container" style="max-height: 400px; overflow-y: auto; display: flex; justify-content: flex-start; flex-direction: column;">
                        <h1 style="align-self: flex-start;"><i>Total : <span id="total" style="color: greenyellow;">R$ 2.669,70</span></i></h1>
                        <table class="table table-striped table-hover table-bordered" style="margin-top: 2%;">
                            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                                <tr>
                                    <th>Categoria</th>
                                    <th>Nome</th>
                                    <th>Quantidade</th>
                                    <th>Valor Unitário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="{% static 'img/categorias/Som.png' %}" alt="Imagem do Produto" style="width: 80px; height: auto;">
                                    </td>
                                    <td>
                                        <h2>Jbl Party Boombox 3</h2>
                                    </td>
                                    <td>
                                        <div class="item-quant">
                                            <button class="minus" onclick="decrement()">-</button>
                                            <div class="counter" id="counter">0</div>
                                            <button class="plus" onclick="increment()">+</button>
                                        </div>
                                    </td>
                                    <td>
                                        <h2 id="preco-produto">R$ 2.669,00</h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="action-bar d-flex align-items-center justify-content-between mt-4">
                        <div class="left-actions d-flex align-items-center gap-3" style="width: 45%;">
                            <select id="categoria" name="categoria" class="form-control" required>
                                <option value="">Selecione um produto ↓</option>
                                {% for produto in produtos %}
                                    <option value="{{ produto.id }}">{{ produto.nome }}</option>
                                {% endfor %}
                            </select>
                            <a href="{% url 'adicionar_produtos' %}" class="btn btn-primary" style="width: 100%;">Adicionar produto </a>
                        </div>
                        <a href="{% url 'adicionar_produtos' %}" 
                        class="btn btn-primary" 
                        id="Registrar" 
                        style="background-color: #049e18; border: none; color: white; transition: 160ms;"
                        onmouseover="this.style.backgroundColor='#037a13'; this.style.color='#e0ffe3'; this.style.transform='scale(1.08)';"
                        onmouseout="this.style.backgroundColor='#049e18'; this.style.color='white'; this.style.transform='scale(1)';">
                        Registrar Venda ✔️
                        </a>
                    </div>
            </div>
        </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/vendas/registrar.js' %}"></script>
</body>
</html>
